<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iPOS测试系统</title>
</head>
<body class="form-bg">
<span class="heading">iPOS测试项目</span>
<br><br/>
<div class="container my-form">
    <a th:href="@{/push}">推送-push</a><br/>
    <a th:href="@{/refund}">退款-refund</a><br/>
    <!--<a th:href="@{/auth}">TX外放接口-auth</a><br/>-->
    <!--<form method="get" th:action="@{/push}">-->
        <!--<button type="submit" class="btn btn-primary">推送-push</button>-->
    <!--</form>-->
</div>
<br><br/>
<br><br/>
<span class="heading">其他测试项目</span>
<br><br/>
<div class="container my-form">
    <a th:href="@{/auth}">TX外放接口-auth</a><br/>
    <!--<a th:href="@{/refund}">退款-refund</a><br/>-->
    <!--<form method="get" th:action="@{/push}">-->
    <!--<button type="submit" class="btn btn-primary">推送-push</button>-->
    <!--</form>-->
</div>
<br><br/>
<br><br/>
<span class="heading">测试工具</span>
<br><br/>
<div class="container my-form">
    <a th:href="@{/interfaceTool}">接口-interfaceTool</a><br/>
    <a th:href="@{/encryptOrDecrypt.html}">加减密-encrypt/decrypt</a><br/>
    <!--<a th:href="@{/auth}">TX外放接口-auth</a><br/>--><!---->
    <!--<form method="get" th:action="@{/push}">-->
    <!--<button type="submit" class="btn btn-primary">推送-push</button>-->
    <!--</form>-->
</div>

</body>


</html>